


.about-area{
    width: 80%;
    margin :60px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
   
    
    
   
}


.text-area{
   
    font-size: 20px;
    color: white;
}

.text-area h1{
    margin-bottom: 15px;
}

.skill-area{
    
    color: white;
    display: block;
    text-align: center;
    width: 80% ;
    margin: 20px auto;
    border-radius: 35px;
   

}
.skill-area h2{
    margin-bottom: 15px;
}
.list-area{
    background: linear-gradient(45deg,rgb(163, 163, 50),rgb(76, 198, 65),rgb(187, 155, 50));
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 10px 10px 20px 10px;
    border-radius: 35px;
    flex-wrap: wrap;
    
}


button{
    
    

    font-size: 12px;
    background-color: rgb(121, 24, 115);
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 20px;    
    transition: 0.5s;
    width: 120px;
    
    
}




