@media screen and (max-width:640px){
    .container,.section,.p-img-box,.home-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
    }

/* ****************section 1******************* */

    .home-text h1{
        margin-top: 50px;
        font-size: 40px;
    }

    .home-text h2{
        font-size: 20px;}

    .home-img .img-container{
        width: 50vw;
        height:50vw;
        
        
        }

    .section.one{
        justify-content: space-evenly;
    }
 
/* ****************section 2******************* */

    .p-img-box img{
            width: 250px;
            
            border: 5px solid green;
            transition: 0.5s;
        }
        
    .p-img-box img:hover{
            transform: scale(1.2) translateY(30px);
            
        }
    .p-img-box .spend{
            margin-bottom: 50px;
        }
    .p-img-box h2{
        font-size: 18px;
    }
   

/* ****************section 3******************* */   

.about-area{
    justify-content: space-evenly;}

.text-area p{
    font-size: 16px;
}

.text-area{
     margin-top: 200px; }




/* ****************section 4******************* */
    
    .section.four{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    

/* ****************Navbar******************* */

       

    nav .menu{
            display: block;
            font-size: 25px;
        }
    nav ul{
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        transition: 0.5s;
        
    }
   
    
    nav ul .menu.close{
        position: absolute;
        top: 25px;
        right: 25px;
    }
    nav img:hover {
        border: 2px solid rgb(95, 12, 88);
        border-radius: 20px;
        padding: 2px;
    }
    nav ul li{
        font-size: 20px ;
        transition: .5s;
        text-align: center;
    }
    nav ul li:hover{
        background-color: rgb(122, 45, 45);
        padding: 5px;
        border: none;
        border-radius: 30px;
        transform: scale(.8);
        opacity: .8;
    }

}
